<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {{{ baseStyle }}}
  </head>
  <body>
    <main>
      {{ #pages }}
      <div class="nav-item">
        <label class="nav-label" for="{{id}}">{{ title }}</label>
        <input type="radio" name="pages" id="{{id}}" class="pages-input"
        {{#checked}}checked{{/checked}} />
        <div class="page-content page-{{id}}">{{{htmlContent}}}</div>
      </div>
      {{ /pages }}
    </main>
  </body>
</html>
